* {
  margin: 0; padding: 0;
}
h3 {
	text-align: center;
	color: #000000;
}
body {
  font-size: 100%;
}
.accordion {
  width: 550px;
  margin: 20px auto;
}
.accordion h1, h2, h3, h4 {
  cursor: pointer;
}
.accordion h2, h3, h4 {
}
.accordion h1 {
  padding: 15px 20px;
  background-color: #04233b;
  font-size: 2.0rem;
  font-weight: normal;
  color: #ef5630;
}
.accordion h1:hover {
  color: #ffffff;
}
.accordion h1:not(:last-of-type) {
  border-bottom: 1px dotted #ef5630;
}
.accordion div, .accordion p {
  display: none;
}
.accordion h2 {
  padding: 10px 20px;
  background-color: #004e92;
  font-size: 2rem;
  color: #ffffff;
}
.accordion h2:hover {
  background-color: #ef5630;
}
.accordion p {
  padding: 15px 35px;
  background-color: #ddd;
  font-family: "Georgia";
  font-size: .8rem;
  color: #333;
  line-height: 1.3rem;
}
.accordion .opened-for-codepen {
  display: block;
}