<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.academy.model.mapper.FAQAndNoticeMapper">
	<sql id="selectFAQ">
		select faq_no,faq_title,faq_content,faq_regdate,usr_id
		from faq
	</sql>
	<insert id="registerFAQ" parameterType="fAQVO">
	<!-- <selectKey keyProperty="faqNo" resultType="int" order="BEFORE">
		select
		faq_seq.nextval from dual
	</selectKey> -->
		insert into faq(faq_no,faq_title,faq_content,faq_regdate,usr_id)
		values(faq_seq.nextval,#{faqTitle},#{faqContent},sysdate,#{userVO.usrId})
	</insert>
	<resultMap type="fAQVO" id="fAQRM">
		<result property="userVO.usrId" column="usr_id"/>
	</resultMap>
	<select id="listFAQ" parameterType="pagingBean" resultMap="fAQRM">
		select f.faq_no,f.faq_title,f.faq_content,f.faq_regdate,u.usr_id
		from (select faq_no,row_number() over(order by faq_no desc) as rnum,
		faq_title,faq_content,faq_regdate,usr_id from faq) f, users u
		where f.usr_id=u.usr_id and rnum between #{startRowNumber} and #{endRowNumber}
		order by faq_no desc
	</select>
	<select id="detailFAQ" parameterType="String" resultType="fAQVO">
		<include refid="selectFAQ"/>
		where faq_no=#{value}
	</select>
	<update id="updateFAQ" parameterType="fAQVO">
		update faq set faq_title=#{faqTitle},faq_content=#{faqContent}
		where faq_no=#{faqNo}
	</update>
	<delete id="deleteFAQ" parameterType="string">
		delete from faq where faq_no=#{value} 
	</delete>
	<insert id="registerNotice" parameterType="noticeVO">
		<selectKey keyProperty="noticeNo" resultType="string" order="BEFORE">
			select notice_seq.nextval from dual
		</selectKey>
		insert into notice(notice_no,notice_title,notice_content,notice_regdate,usr_id)
		values(#{noticeNo},#{noticeTitle},#{noticeContent},SYSDATE,#{userVO.usrId})
	</insert>
	<select id="getTotalFaqCount" resultType="int">
		select count(*) from faq
	</select>
	<select id="getTotalNoticeCount" resultType="int">
		select count(*) from notice
	</select>
	<resultMap type="noticeVO" id="noticeRM">
		<result property="userVO.usrId" column="usr_id"/>
		<result property="userVO.usrName" column="usr_name"/>
	</resultMap>
	<select id="listNotice" parameterType="pagingBean" resultMap="noticeRM">
		select n.notice_no,n.notice_title,n.notice_content,n.notice_regdate,u.usr_id,u.usr_name
		from (select notice_no,row_number() over(order by notice_no desc) as rnum,
		notice_title,notice_content,notice_regdate,usr_id from notice) n, users u
		where n.usr_id=u.usr_id and rnum between #{startRowNumber} and #{endRowNumber}
		order by notice_no desc
	</select>
	<select id="detailNotice" parameterType="string" resultMap="noticeRM">
		select n.notice_no,n.notice_title,n.notice_content,n.notice_regdate,u.usr_id,u.usr_name
		from (select notice_no,row_number() over(order by notice_no desc) as rnum,
		notice_title,notice_content,notice_regdate,usr_id from notice) n, users u
		where n.usr_id=u.usr_id and n.notice_no=#{value}
	</select>
	<update id="updateNotice" parameterType="noticeVO">
		update notice set notice_title=#{noticeTitle},notice_content=#{noticeContent}
		where notice_no=#{noticeNo}
	</update>
	<delete id="deleteNotice" parameterType="string">
		delete from notice where notice_no=#{value} 
	</delete>
</mapper>