<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.academy.model.mapper.SearchMapper">


<select id="provinceList" resultType="locationVO">
	select distinct province from location
</select>

<select id="districtList" resultType="locationVO" parameterType="String">
	select district from location where province = #{province}
</select>

<select id="getTotalCountByAddress" parameterType="string" resultType="int">
	select count(*) from  academy
	where upper (aca_addr) LIKE '%'||upper(#{value})||'%'
</select>
<select id = "searchByAddress" parameterType = "map" resultType="academyVO">
	select aca_no, aca_name, aca_addr, aca_main_pic
	from (select row_number() over(order by aca_no desc) as rnum, aca_no, aca_name, aca_addr, aca_main_pic from ACADEMY where upper (aca_addr) LIKE '%'||upper(#{acaAddr})||'%')
	where  rnum between #{STARTROWNUMBER}  and #{ENDROWNUMBER} order by aca_no desc
</select>

<select id="getTotalCountByCurName" parameterType="string" resultType="int">
	select count(*) from  curriculum c, academy a
	where c.aca_no = a.aca_no and upper (cur_name) LIKE '%'||upper(#{value})||'%'
</select>
<select id = "searchByCurName" parameterType = "map" resultType="curriculumVO">
select cur_no, cur_name, cur_content, cur_main_pic
from
	(
	select row_number() over(order by a.aca_no desc) as rnum, a.aca_no, c.cur_no, c.cur_name, c.cur_content, c.cur_main_pic
	from academy  a, curriculum  c
	where 
		a.aca_no = c.aca_no 
		and upper (cur_name) LIKE '%'||upper(#{curName})||'%' 
	) r
where
	r.rnum between #{STARTROWNUMBER}  and #{ENDROWNUMBER} order by aca_no desc
</select>

<resultMap type="curriculumVO" id="CRM">
	<result property="academyVO.acaNo" column="aca_no" />	
	<result property="academyVO.acaName" column="aca_name" />
	<result property="academyVO.acaAddr" column="aca_addr" />
	<result property="academyVO.acaMainPic" column="aca_main_pic"/>
</resultMap> 

<select id="getTotalCountByKeyword" parameterType="string" resultType="int">
select count(*)
from academy  a, curriculum  c
where 
	a.aca_no = c.aca_no 
	and 
	(
	upper (aca_addr) LIKE '%'||upper(#{academyVO.acaAddr})||'%'
	or (cur_name) LIKE '%'||upper(#{curName})||'%' 
	or  upper (cur_content) LIKE '%'||upper(#{curContent})||'%'
	)
</select>
<select id="searchByKeyword" parameterType="map" resultType="curriculumVO">
select aca_no, aca_name, aca_addr, aca_main_pic, cur_no, cur_name, cur_content, cur_main_pic
from
	(
	select row_number() over(order by a.aca_no desc) as rnum, a.aca_no, a.aca_name, a.aca_addr, a.aca_main_pic, c.cur_no, c.cur_name, c.cur_content, c.cur_main_pic
	from academy  a, curriculum  c
	where 
		a.aca_no = c.aca_no 
		and 
		(
		upper (aca_addr) LIKE '%'||upper(#{academyVO.acaAddr})||'%'
		or (cur_name) LIKE '%'||upper(#{curName})||'%' 
		or  upper (cur_content) LIKE '%'||upper(#{curContent})||'%'
		)
	) r
where
	r.rnum between #{STARTROWNUMBER}  and #{ENDROWNUMBER} order by aca_no desc
</select>

<select id="getTotalCountByAcaAddrAndCurName" parameterType="string" resultType="int">
select count(*)
from academy  a, curriculum  c
where 
	a.aca_no = c.aca_no 
	and 
	(
	upper (aca_addr) LIKE '%'||upper(#{academyVO.acaAddr})||'%'
	and (cur_name) LIKE '%'||upper(#{curName})||'%' 
	)
</select>
<select id="searchByAcaAddrAndCurName" parameterType="map" resultType="academyVO">
select aca_no, aca_name, aca_addr, aca_main_pic
from
	(
	select row_number() over(order by a.aca_no desc) as rnum, a.aca_no, a.aca_name, a.aca_addr, a.aca_main_pic, c.cur_no, c.cur_name, c.cur_content, c.cur_main_pic
	from academy  a, curriculum  c
	where 
		a.aca_no = c.aca_no 
		and 
		(
		upper (aca_addr) LIKE '%'||upper(#{academyVO.acaAddr})||'%'
		and (cur_name) LIKE '%'||upper(#{curName})||'%' 
		)
	) r
where
	r.rnum between #{STARTROWNUMBER}  and #{ENDROWNUMBER} order by aca_no desc
</select>

<select id="getTotalCountByAcaAddrAndSearch" parameterType="string" resultType="int">
select count(*)
from academy  a, curriculum  c
where 
		a.aca_no = c.aca_no 
		and 
		(
		upper (aca_addr) LIKE '%'||upper(#{academyVO.acaAddr})||'%'
		and  upper (cur_name) LIKE '%'||upper(#{curName})||'%' 
		)
		or
		a.aca_no = c.aca_no 
		and
		(
		upper (aca_addr) LIKE '%'||upper(#{academyVO.acaAddr})||'%'
		and  upper (cur_content) LIKE '%'||upper(#{curContent})||'%'
		)
</select>
<select id="searchByAcaAddrAndSearch" parameterType="map" resultType="academyVO">
select aca_no, aca_name, aca_addr, aca_main_pic
from
	(
	select row_number() over(order by a.aca_no desc) as rnum, a.aca_no, a.aca_name, a.aca_addr, a.aca_main_pic, c.cur_no, c.cur_name, c.cur_content, c.cur_main_pic
	from academy  a, curriculum  c
	where 
		a.aca_no = c.aca_no 
		and 
		(
		upper (aca_addr) LIKE '%'||upper(#{academyVO.acaAddr})||'%'
		and  upper (cur_name) LIKE '%'||upper(#{curName})||'%' 
		)
		or
		a.aca_no = c.aca_no 
		and
		(
		upper (aca_addr) LIKE '%'||upper(#{academyVO.acaAddr})||'%'
		and  upper (cur_content) LIKE '%'||upper(#{curContent})||'%'
		)
	) r
where
	r.rnum between 1  and 15 order by aca_no desc
</select>

<select id="getTotalCountByCurNameAndSearch" parameterType="string" resultType="int">
select count(*)
from academy  a, curriculum  c
where 
		a.aca_no = c.aca_no 
		and 
		(
		upper (aca_addr) LIKE '%'||upper(#{academyVO.acaAddr})||'%'
		and  upper (cur_name) LIKE '%'||upper(#{curName})||'%' 
		)
		or
		a.aca_no = c.aca_no 
		and
		(
		upper (cur_name) LIKE '%'||upper(#{curName})||'%' 
		and  upper (cur_content) LIKE '%'||upper(#{curContent})||'%'
		)
</select>
<select id="searchByCurNameAndSearch" parameterType="map" resultType="academyVO">
select aca_no, aca_name, aca_addr, aca_main_pic
from
	(
	select row_number() over(order by a.aca_no desc) as rnum, a.aca_no, a.aca_name, a.aca_addr, a.aca_main_pic, c.cur_no, c.cur_name, c.cur_content, c.cur_main_pic
	from academy  a, curriculum  c
	where 
		a.aca_no = c.aca_no 
		and 
		(
		upper (aca_addr) LIKE '%'||upper(#{academyVO.acaAddr})||'%'
		and  upper (cur_name) LIKE '%'||upper(#{curName})||'%' 
		)
		or
		a.aca_no = c.aca_no 
		and
		(
		upper (cur_name) LIKE '%'||upper(#{curName})||'%' 
		and  upper (cur_content) LIKE '%'||upper(#{curContent})||'%'
		)
	) r
where
	r.rnum between 1  and 15 order by aca_no desc
</select>

<select id="getTotalCountByAcaAddrAndCurNameAndSearch" parameterType="string" resultType="int">
select count(*)
from academy  a, curriculum  c
where 
		a.aca_no = c.aca_no 
		and 
		(
		upper (aca_addr) LIKE '%'||upper(#{academyVO.acaAddr})||'%'
		and (cur_name) LIKE '%'||upper(#{curName})||'%' 
		and  upper (cur_content) LIKE '%'||upper(#{curContent})||'%'
		)
</select>
<select id="searchByAcaAddrAndCurNameAndSearch" parameterType="map" resultType="academyVO">
select aca_no, aca_name, aca_addr, aca_main_pic
from
	(
	select row_number() over(order by a.aca_no desc) as rnum, a.aca_no, a.aca_name, a.aca_addr, a.aca_main_pic, c.cur_no, c.cur_name, c.cur_content, c.cur_main_pic
	from academy  a, curriculum  c
	where 
		a.aca_no = c.aca_no 
		and 
		(
		upper (aca_addr) LIKE '%'||upper(#{academyVO.acaAddr})||'%'
		and (cur_name) LIKE '%'||upper(#{curName})||'%' 
		and  upper (cur_content) LIKE '%'||upper(#{curContent})||'%'
		)
	) r
where
	r.rnum between 1  and 15 order by aca_no desc
</select>
</mapper>