<?xml version="1.0" encoding="UTF-8"?>
<!-- Sql Mapper -->
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.academy.model.mapper.UserMapper">
	<select id="findUserById" parameterType="string" resultType="userVO">
		select usr_id,usr_pass,usr_name,usr_addr,enabled,nickname,birthday,usr_regdate,usr_email,usr_tel
		from users where usr_id = #{value} and enabled=1
	</select>
	<select id="selectAuthorityById" parameterType="string" resultType="authoritiesVO">
		select authority from authorities where usr_id = #{value}
	</select>
	<insert id="registerUser" parameterType="userVO">
		insert into users(usr_id,usr_pass,usr_name,usr_addr,enabled,nickname,birthday,usr_regdate,usr_email,usr_tel)
		values(#{usrId},#{usrPass},#{usrName},#{usrAddr},1,#{nickname},#{birthday},SYSDATE,#{usrEmail},#{usrTel})
	</insert>
	<insert id="registerAuthorities" parameterType="authoritiesVO">
		insert into authorities(usr_id,authority) values(#{userVO.usrId},#{authority})
	</insert>
	<select id="idcheck" resultType="int">
		select count(*) from users where usr_id=#{value}
	</select>
	<select id="getUserInfo" parameterType="string" resultType="userVO">
		select usr_id,usr_name,usr_addr,nickname,birthday,usr_regdate,usr_email,usr_tel
		from users where usr_id = #{value}
	</select>
	<update id="updateUser" parameterType="userVO">
		update users set usr_pass=#{usrPass},usr_name=#{usrName},usr_addr=#{usrAddr},
		nickname=#{nickname},birthday=#{birthday},usr_email=#{usrEmail},usr_tel=#{usrTel}
		where usr_id=#{usrId}
	</update>
</mapper>